/* ESTILOS */

body {
    background-color: #1c1d27;
}

.contenedor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contenedorBarra {
    width: 100%;
    height: 70%;
    background-color: #455BD8;
    position: relative;
    top: 0;
    left: 0;
}

.imagenBarra {
    width: 100%;
    height: 100%;
    background-image: url("https://www.xtrafondos.com/wallpapers/resized/paisaje-digital-en-atardecer-5846.jpg?s=large");
    opacity: 0.4;
    filter: alpha(opacity=40);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.barraLogo {
    width: 250px;
    height: 250px;
    background-image: url("https://i.imgur.com/NaXsen1.jpg");
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    top: 5%;
    left: 40%;
}

.barraTitulo {
    font-family: Acme;
    font-size: 50px;
    color: white;
    position: absolute;
    left: 40%;
    top: 55%;
}

.barraBoton {
    font-family: PatuaOne;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    color: white;
    border: 3px solid white;
    padding: 10px;
    border-radius: 40px;
    top: 80%;
    left: 36%;
}

.barraMenu {
    position: absolute;
    top: 0;
    left: 0;
}

.barraMenu a {
    padding: 10px;
    font-family: PatuaOne;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.384);
    text-decoration: none;
    position: absolute;
}

.menuComandos {
    padding: 10px;
    font-family: PatuaOne;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.384);
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 92%;
}

.menuInvite {
    left: 60px;
}

.menuSoporte {
    left: 120px;
}

.contenedorContenido {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contenidoComando1 {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: CargarCaracteristicas 1s normal forwards running;
}

.comando1Imagen {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    right: 50px;
}

.comando1Titulo {
    font-family: PatuaOne;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
}

.comando1Descripcion {
    width: 500px;
    height: 50px;
    font-family: PatuaOne;
    color: gray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(19, 19, 19);
    position: absolute;
    top: 30%;
    left: 10%;
}

.contenidoComando2 {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: CargarCaracteristicas 1s forwards;
    top: 500px;
}

.comando2Imagen {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    right: 10%;
}

.comando2Titulo {
    font-family: PatuaOne;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
}

.comando2Descripcion {
    width: 500px;
    height: 50px;
    font-family: PatuaOne;
    color: gray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(19, 19, 19);
    position: absolute;
    top: 30%;
    left: 10%;
}

.contenidoComando3 {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: CargarCaracteristicas 1s forwards;
    top: 1000px;
}

.comando3Imagen {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    right: 10%;
}

.comando3Titulo {
    font-family: PatuaOne;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
}

.comando3Descripcion {
    width: 500px;
    height: 80px;
    font-family: PatuaOne;
    color: gray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(19, 19, 19);
    position: absolute;
    top: 30%;
    left: 10%;
}

/* FUENTES */

@font-face {
    font-family: PatuaOne;
    font-weight: bold;
    src: url("./src/fuentes//PatuaOne-Regular.ttf") format("opentype");
}

@font-face {
    font-family: AlfaSlab;
    src: url("./src/fuentes/AlfaSlabOne-Regular.ttf") format("opentype");
}

/* MULTIPLATAFORMA */

@media screen and (max-width: 800px){
    .contenedorBarra {
        height: 65%;
    }
    .barraLogo {
        width: 200px;
        height: 200px;
        left: 35%;
    }
    .barraTitulo {
        top: 47%;
        left: 32%;
    }
    .barraBoton {
        font-size: 35px;
        top: 76%;
        left: 27%;
    }
    .barraMenu {
        top: -100px;
    }
    .menuComandos {
        top: -100px;
        left: 1px;
    }
    .comando1Imagen {
        width: 400px;
        height: 300px;
        top: 30px;
        left: 27%;
    }
    .comando1Titulo {
        font-family: PatuaOne;
        font-size: 40px;
        color: white;
        position: absolute;
        top: 70%;
        left: 27%;
    }
    .comando1Descripcion {
        width: 500px;
        height: 50px;
        font-family: PatuaOne;
        color: gray;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(19, 19, 19);
        position: absolute;
        top: 82%;
        left: 15%;
    }
    .contenidoComando2 {
        top: 700px;
    }
    .comando2Titulo {
        font-family: PatuaOne;
        font-size: 40px;
        color: white;
        position: absolute;
        top: 70%;
        left: 40%;
    }
    .comando2Descripcion {
        width: 500px;
        height: 50px;
        font-family: PatuaOne;
        color: gray;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(19, 19, 19);
        position: absolute;
        top: 82%;
        left: 15%;
    }
    .contenidoComando3 {
        top: 1350px;
    }
    .comando3Titulo {
        font-family: PatuaOne;
        font-size: 40px;
        color: white;
        position: absolute;
        top: 70%;
        left: 30%;
    }
    .comando3Descripcion {
        width: 500px;
        height: 80px;
        font-family: PatuaOne;
        color: gray;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(19, 19, 19);
        position: absolute;
        top: 82%;
        left: 15%;
    }
  }

/* ANIMACIONES SCROLL */

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

/* VINCULOS */

.barraBoton:hover {
    animation: barraBotonAgregame 0.1s forwards;
}

.menuComandos:hover {
    color: white;
}

.barraMenu a:hover {
    color: white;
}

/* BARRA DE SCROLL */

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #1c1d27;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #1c1d27;  /* creates padding around scroll thumb */
  }

/* ANIMACIONES */

@keyframes barraBotonAgregame {
    0% {
        background-color: transparent;
    }    
    100% {
        background-color: rgba(255, 255, 255, 0.418);
    }
}

@keyframes comandosFondo {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #455BD8;
        width: 300px;
        height: 300px;
    }
}

@keyframes CargarCaracteristicas {
    0% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
